.county {
  font-size: 10px;
  fill-opacity: 1;
  fill-rule: nonzero;
  stroke: #000000;
  stroke-width: 0.15;
  stroke-linecap: butt;
  stroke-linejoin: bevel;
  stroke-miterlimit: 4;
  stroke-opacity: 1;
  stroke-dasharray: none;
  marker-start: none;
}

.county:hover {
  /* filter: grayscale(100%) sepia(100%); */
  filter: opacity(65%);
  stroke-width: 0.2;
}
