.AppContainer {
  text-align: left;
  padding: 20px;
  min-width: 1115px;
}

.MainContainer {
  padding: 15px;
}

.ContextTracker {
  padding: 15px;
}

/* #ActionButton {
  font-size: 12px;
  margin: 5px 5px;
} */

.SalespersonListContainer {
  border: solid;
  border-radius: 10px;
  margin-top: 40px;
}

.SalespersonListTitle {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  font-weight: bold;
  font-style: italic;
  background-color: black;
  color: white;
  padding: 23px 20px;
  margin: 0px;
  border: 6px solid whitesmoke;
}

.SalespersonListContainer ul {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  list-style: none;
  max-height: 250px;
  overflow: hidden;
  overflow-y: scroll;
  background: whitesmoke;
  padding: 5px 10px;
  margin: 0px;
}

.ShopCount {
  text-align: center;
  font-weight: bold;
}

.SelectedSalespersonCard {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  font-weight: bold;
  background-color: Black;
  color: white;
  padding: 8px;
  margin: 0px;
  border: 6px solid whitesmoke;
  text-align: center;
}

.SelectedSalespersonCard h2 {
  text-align: left;
  margin: 0px;
  padding: 5px 5px 0px 8px;
}

#OhioCountyMap {
  transform: rotate(6deg);
}
